* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Muli', sans-serif;
  font-size: 20px; 
  font-weight: 300;
  width: 1920px;
  text-rendering: optimizeLegibility;
}

.header-pt1 {
  background-color: #231b8b;
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 1675px;
  height: 82px;
  display: inline-block;
}

.header-pt2 {
  width: 245px;
  height: 82px;
  float: right;
  background-color: #0D0464;
}

li {
  list-style: none;
}

.row {
  max-width: 100%;
  margin: 0 auto;
}

.row p {
  float:left;
  margin-top: 5px;
  font-size: 150%;
  font-weight: 600;
  width: 10%;
  text-transform: uppercase
}

.row img {
  margin-top: 7px;
  margin-left: 21px;
}

.logo-home {
  font-size: 150%;
}

.main-nav {
  list-style: none;
  float: right;
  text-transform: uppercase;
}

.header-pt2 li {
  font-size: 80%;
  font-weight: 900;
  color: #FFFFFF;
  font-family: Muli;
  letter-spacing: 1px;
  line-height: 34px;
  text-align: center;
  margin-top: 27px;
}

.header-pt2 img {
  margin-right: 5px;
}


.main-nav li {
  margin-top: 3px;
  display: inline-block;
  font-size: 60%;
  font-weight: 900;
  margin-right: 80px;
  color: rgb(255, 255, 255);
  font-family: Muli;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  padding: 5px 0px;
  text-decoration: none;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ffffff;
}

/*----------------------------------------*/
/* Main Section */
/*----------------------------------------*/

.main-section {
  clear: both;
  padding: 60px 160px 40px 61px;
  float: right;
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  margin: 80px 0px;
  width: 92%;
  height: 1520px;;
}

.inner-section {
  float: left;
}

.inner-section p {
  padding-bottom: 20px;
}

.inner-section p:nth-child(1) {
  font-size: 90%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BEBEBE;
  font-weight: 900;
  font-family: "Roboto Slab";
}

.inner-section p:nth-child(2) {
  width: 617px;
  color: #27198C;
  font-family: Muli;
  font-size: 29px;
  font-weight: 900;
  line-height: 44px;
}

.inner-section p:nth-child(3) {
  color: #191919;
  height: 76px;
  width: 676px;
  font-family: Muli;
  font-size: 80%;
}

.button {
  height: 50px;
  width: 230px;
  color: #27198C;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  padding-left:20px;
  margin: 20px 0px;
  border: 2px solid #FF6F0F;
  background-color: #f6f6f6;
}

.inner-section img {
  width: 730px;
  height: 710px;
  margin-top: 40px;
}